doctype html
html 
    head
        title='Log In'
        link(rel="stylesheet", href="/static/style.css")
    body
        div.container
            div.box
                h1.title Log.in.
                p.instruction Use the button underneath to sign in through Google.
                a(href="/auth/google").logInButton Log in!