doctype html
html 
    head
        title='Welcome'
        link(rel="stylesheet", href="/static/style.css")
    body
        div.container
            h1.welcome Welcome to the other side..
            iframe(src="https://giphy.com/embed/fDW9ZTRaK6G4M", width="480", height="480", frameBorder="0")
            h2 (of login).