doctype html
html 
    head
        title='Log In'
        link(rel="stylesheet", href="/static/style.css")
    body
        div.container
            h1.title Log.in.
            form.loginForm
                span Login:
                input(type="text")
                span Password:
                input(type="text")
                a(href="/main").logInButton Log in!